In [1]:
import pandas as pd
df_data = pd.read_csv("../data_sources/cleaned_data.csv", sep=";")
#df_data

Haremos la manipulación de la data, para la pregunta #1.\
Pregunta de negocio #1.

In [2]:
# ¿Cuál es el mejor promedio de cada carrera durante el año?
df_data_Q1 = df_data.loc[:,:].groupby(by = ['carrera','anio']).max()
df_data_Q1

                                      dni_alumno            alumno  \
carrera                    anio
Derecho                    2020  8675-2005-35773    Bailey Rearden
                           2021  9040-1996-91077  Courtnay Rawdall
Ingenieria Electrica       2020  9780-1995-53373   Ram Sommerville
Licenciatura en Matematica 2021  7219-1992-14916     Ganny Caveill

                                     asignatura departamento   catedratico  \
carrera                    anio
Derecho                    2020   Derecho Penal      Derecho  Bentley Izon
                           2021   Derecho Penal      Derecho  Bentley Izon
Ingenieria Electrica       2020  Programacion I   Matematica   Tan Dowling
Licenciatura en Matematica 2021  Programacion I   Matematica   Tan Dowling

                                 periodo  promedio
carrera                    anio
Derecho                    2020        3      95.1
                           2021        1      95.0
Ingenieria Electrica       2020        3      95.0
Licenciatura en Matematica 2021        1      94.0

Haremos la manipulación de la data, para la pregunta #2.\
Pregunta de negocio #2.

In [3]:
# Pregunta de negocio #2 ¿Cuál es el Catedrático con mayor cantidad de reprobados en cada asignatura por periodo de cada año?
# Filtramos primero los alumnos reprobados
df_data_Q2 = df_data[df_data.promedio < 65]
#df_data_Q2

In [4]:
# Limpiamos la data filtrada, eliminando columnas innecesarias
df_data_Q2 = df_data_Q2.drop(['dni_alumno','carrera', 'departamento', 'promedio'], axis=1)

# La última limpieza, renombrar el campo donde se muestra el resultado
df_data_Q2 = df_data_Q2.rename(columns={'alumno':'alumnos reprobados'})

In [5]:
# Mostrar el resultado que responde la pregunta
df_data_Q2 = df_data_Q2.iloc[:,:].groupby(by = ['catedratico', 'periodo','anio','asignatura']).count()
df_data_Q2

                                               alumnos reprobados
catedratico       periodo anio asignatura
Alicea Van Giffen 1       2020 Programacion I                   1
                  3       2020 Matematica I                     2
Arnold Muffen     1       2020 Matematica I                     2
Tan Dowling       1       2021 Programacion I                   1

Haremos la manipulación de la data, para la pregunta #3.\
Pregunta de negocio #3.

In [6]:
# Pregunta de negocio #3 ¿Cuál es la Cantidad de reprobados de cada carrera por periodos en el año?
# Filtramos primero los alumnos reprobados
df_data_Q3 = df_data[df_data.promedio < 65]
#df_f3

In [7]:
# Limpiamos la data filtrada, eliminando columnas innecesarias
df_data_Q3 = df_data_Q3.drop(['dni_alumno','catedratico', 'departamento', 'promedio','asignatura'], axis=1)

# La última limpieza, renombrar el campo donde se muestra el resultado
df_data_Q3 = df_data_Q3.rename(columns={'alumno':'alumnos reprobados'})

In [8]:
# Mostrar el resultado que responde la pregunta
df_data_Q3 = df_data_Q3.iloc[:,:].groupby(by = ['carrera', 'periodo','anio']).count()
df_data_Q3

                                         alumnos reprobados
carrera                    periodo anio
Ingenieria Electrica       1       2020                   3
                           3       2020                   2
Licenciatura en Matematica 1       2021                   1